<div class="jumbotron">
    <h1>Beerbaud</h1>
    <p class="lead">
        Find breweries in Blackbaud SKY UX
    </p>
</div>
<bb-tile bb-tile-header="tile1Ctrl.resources.tile_header" bb-tile-collapsed="tile1Ctrl.is_collapsed" bb-tile-settings-click="tile1Ctrl.openSettings()">
    <bb-tile-header-content>
        Settings
    </bb-tile-header-content>
    <div bb-tile-section>
        Find Breweries
    </div>
</bb-tile>


<bb-tile bb-tile-header="'Grid with pagination in tile'">
    <bb-grid bb-grid-options="gridOptions2" bb-grid-pagination="paginationOptions">
    </bb-grid>
</bb-tile>
<div class="clearfix"></div>
